@page
@model MD3.CatalogoSaaS.Adm.Pages.SistemaRoot.Sistemas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sistema</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sistema.CodigoInterno" class="control-label"></label>
                <input asp-for="Sistema.CodigoInterno" class="form-control" />
                <span asp-validation-for="Sistema.CodigoInterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sistema.Nome" class="control-label"></label>
                <input asp-for="Sistema.Nome" class="form-control" />
                <span asp-validation-for="Sistema.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sistema.Descricao" class="control-label"></label>
                <input asp-for="Sistema.Descricao" class="form-control" />
                <span asp-validation-for="Sistema.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
